<!doctype html>
<html>
  <head>
    <title>PortFolioperformance</title>
  </head>
  <body>
    <h1>Coins</h1>
    <div id="log"></div>
    <br>
    <script>
      const log = (text, color) => {
        document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };

      const socket = new WebSocket('ws://' + location.host + '/feed ');
      socket.addEventListener('message', ev => {
        message = JSON.parse(ev.data)
        if (message.verdict == 'Buy'){log(message.Coin + "  " + message.verdict, 'green');}
        else {log(message.Coin + "  " + message.verdict, 'red');}
        
      });
    </script>
  </body>
</html>